@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
  font-family: 'helvetica';
  src: url('/fonts/Helvetica.ttf') format('ttf'),

}


body {
  cursor: none !important;
}

*,
*::before,
*::after {
  cursor: none !important;
}


.helvetica {
  font-family: 'Helvetica', sans-serif;
  letter-spacing: -2em;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* This makes it zoom/crop automatically like a wallpaper */
  z-index: -10;
  /* Puts it behind the Canvas */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}